@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
  --f-H2: 28px;
  --f-H1: 32px;
  --f-H3: 24px;
  --f-H4: 20px;
  --f-H5: 18px;
  --f-H6: 14px;
  --f-p: 16px;

  --c-background: #fff;
  --c-main: #f5f5f5;
  --c-sub: #11359a;
  --c-font: #364a63;
  --c-lightgray: #8094ae;
  --c-yellow: #f4bd0e;
  --c-lightblue: #09c2de;
  --c-lightgreen: #1ee0ac;
  --c-lightred: #e85347;
  --c-blue: #465fff;
  --c-button: #7749f8;
  --c-button-hover: #5227cc;
  --c-menu-font: #6e82a5;
  --c-menu-font-hover: #7f8dff;
  --c-menu-BG: #101924;
  --c-active-button: #798bff;
  --c-Nonactive-button: #6c757d;
  --c-complete-button: #28a745;
  --c-complete-button-hover:#079828;
  --c-cancle-button: #dc3545;
  --c-active-check-button: #499eed;
  --c-Nonactive-check-button: #8a8686;
  --c-contentBG: #f5f6fa;
  --c-space_updown: 30px;
}
.btn-primary {
  background: #7749F8;
}
.btn-primary:hover {
  background: #5642ee;
}
.btn-primary:active {
  background: #353ade;
}
/* layout */
.content_wrapper {
  margin-left: 290px;
}
header {
  width: 290px;
  color: white;
  background: var(--c-menu-BG);
  position: fixed;
}
header .headerContainer {
  height: 100%;  
  background: var(--c-menu-BG);
  img {
    background: white;
    width: 160px;
    height: 155px;
  }
}
#logo {
  margin-bottom: 60px;
}
#logo h1 {
  position: absolute;
  text-indent: -9999em;
  opacity: 0;
  visibility: hidden;
}
.gnb li a {
  display: block;
  width: 290px;
  height: 70px;
  font-size: var(--f-H3);
  color: var(--c-menu-font);
  padding-left: 30px;
}
.gnb li a:hover {
  font-size: var(--f-H3);
  color: var(--c-menu-font-hover);
}
.gnb li a span + span {
  margin-left: 10px;
}



.content_wrapper {
  width: 100%;
}
.top_section {
  width: calc(100vw - 290px);
  height: 64px;
  position: fixed;
  background: white;
  border-bottom: 1px solid #c9c9c9;
  padding-right: 66px;
  /* position: relative; */
  h3 {
    color: black;
  }
}
.main {
  /* width: 100%; */
  width: 100%;
  /* height: 100vh; */
  background: var(--c-contentBG);
  padding: 32px 25px 0 25px;
  margin-top: 64px;
}

tr{
  line-height: 50px;
}

/* typography */
h2 {
  font-size: var(--f-H2);
  font-weight: bold;
  margin-bottom: 30px;
}
h3 {
  font-size: var(--f-H3);
}
h4 {
  font-size: var(--f-H4);
}
h5 {
  font-size: var(--f-H5);
}
h6 {
  font-size: var(--f-H6);
}
p {
  font-size: var(--f-p);
}

.bold {
  font-weight: bold;
}

/* breadcrumb */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--c-font);
}

/* lim */
.result-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.box {
  width: 230px;
  height: 237px;
  flex: 1;
}
.contents-box {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ced4da;
  /* margin: 30px */
}
.content-title {
  padding-bottom: 17px;
}
#best-lecture-img {
  padding-bottom: 11px;
}
#best-lecture-title {
  padding-bottom: 11px;
  color: #7f8dff;
}
#best-lecture-p {
  padding-bottom: 11px;
}
.result_box_top {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.regist-btn{
  background-color: var(--c-complete-button);
}
.edit-btn{
  background-color: var(--c-complete-button);
}
.cancle-btn{
  background-color: var(--c-cancle-button);
}