#logo img {
  width: 418px;
  height: 415px;
}

#userid,
#passwd,
.btn {
  width: 360px;
  height: 58px;
  /* background: #000; */
}
#passwd {
  margin: 16px 0 16px 0;
}
form {
  margin-bottom: 16px;
}
