form {
  margin-bottom: 50px;
}
.filter {
  gap: 30px;
}

.lecture,
.progress_rate,
.period,
.search_filter,
#search_member,
.search_btn {
  height: 54px;
}
.lecture {
  width: 319px;
}
.progress_rate {
  width: 111px;
}
.period,
.search_filter {
  width: 134px;
}
#search_member {
  width: 360px;
}
.search_btn {
  width: 62px;
}
.search {
  gap: 5px;
}

#member_cb {
  margin-right: 10px;
}
.msg_btn {
  line-height: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
tbody tr {
  width: 1580px;
}

tbody tr:hover {
  cursor: pointer;
}

th,
td {
  width: 263px;
}
.class {
  font-size: 14px;
}

/* modal */

/* modal */
.profile {
  position: relative;
}
.profile > * {
  margin-right: 16px;
}

#modal_username {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
}
#modal_email {
  font-size: 20px;
}
#modal_email:hover {
  color: var(--c-blue);
}

.profile button {
  position: absolute;
  right: 0;
}
.profile button:hover {
  color: var(--c-blue);
}
.profile button span {
  font-size: 30px;
}

.information li {
  /* display: grid; */
  /* width: 240px; */
  /* gap: 16px; */
  flex-wrap: nowrap;
}

.information li {
  /* white-space: nowrap; */
}
.d-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개의 열로 설정 */
  gap: 10px; /* 열 사이의 간격 설정 */
  margin-bottom: 30px;
}
.d-grid span {
  font-size: 20px;
}
.m_title {
  font-weight: bold;
  font-size: 20px;
  color: var(--c-menu-BG);
  margin-right: 16px;
  margin-bottom: 16px;
}
.list-group,
.coupon_list,
.coupon {
  margin-top: 16px;
}
.coupon_item {
  /* background: var(--c-button); */
}
.coupon_list a {
  gap: 16px;
  border: 1px solid var(--c-button);
  border-radius: 5px;
  padding: 20px;
}
.coupon_list a + a {
  margin-top: 20px;
}
.profile_icon {
  font-size: 50px;
  color: var(--c-button);
}
