.mainContents {
  /* display: flex; */
}

.profile_box {
  gap: 30px;
}
.profile_info {
  width: 100%;
  gap: 30px;
}
.profile_img_con {
  gap: 5px;
}

.profile_box,
.attendance_box {
  /* width: 504px;
  height: 341px; */
}
.profile_list li + li {
  margin-top: 16px;
}

.profile_list li span:last-child {
  margin-left: 16px;
  font-size: var(--f-H6);
}

.board h3 {
  width: 100px;
}

.board {
  /* width: 496px; */
  height: 152px;
  display: flex;
  gap: 25px;
}

.profile_img_con img {
  width: 100px;
}
.board ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.course_progress {
  height: 332px;
}
.btn_info {
  gap: 16px;
}

.mainContents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 16px; */
  grid-auto-flow: dense;
  /* gap: 20px; Gap between columns */
}

.mainContents .profile_box {
  /* grid-column: span 2; Full width for profile box */
}
#calendar {
  max-width: 900px;
  /* margin: 40px auto; */
}

#fc-dom-1 {
  font-size: var(--f-H3);
}
