thead th {
  font-weight: bold;
}
.table-container {
  width: 100%;
}
table td,
table th {
  vertical-align: middle;
}
tr {
  width: 1153px;
  height: 55px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.pagination {
  padding-top: 50px;
}

.modal-title {
  margin-right: 30px;
}
#content {
  line-height: 1.618;
}
