@charset "utf-8";
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --f-H2: 28px;
    --f-H1: 32px;
    --f-H3: 24px;
    --f-H4: 18px;
    --f-H5: 16px;
    --f-H6: 14px;
    --f-p: 16px;
  
    --c-background: #fff;
    --c-main: #f5f5f5;
    --c-sub: #11359a;
    --c-font: #364a63;
    --c-lightgray: #8094ae;
    --c-yellow: #f4bd0e;
    --c-lightblue: #09c2de;
    --c-lightgreen: #1ee0ac;
    --c-lightred: #e85347;
    --c-blue: #465fff;
    --c-button: #7749f8;
    --c-button-hover: #5227cc;
    --c-menu-font: #6e82a5;
    --c-menu-font-hover: #7f8dff;
    --c-menu-BG: #101924;
    --c-active-button: #798bff;
    --c-Nonactive-button: #6c757d;
    --c-complete-button: #28a745;
    --c-complete-button-hover: #079828;
    --c-cancle-button: #dc3545;
    --c-active-check-button: #499eed;
    --c-Nonactive-check-button: #8a8686;
    --c-contentBG: #f5f6fa;
    --c-space_updown: 30px;
    --c-title-font: #1DC078;
    --c-menu-font: #4a4a4a;
    --c-menu-font-hover: #1dc078;
    --c-footer-BG: #101924;
    --c-content-BG: #fff;
    --c-black: #000;
    --c-H2: #1b1c1d;
    --c-p: #495057;
    --c-primary-button: #00c471;
  }

  /* typography */
h2{
    font-size: var(--f-H2);
    font-weight: bold;
    margin-bottom: 30px;
}
h3{
    font-size: var(--f-H3);
}
h4{
    font-size: var(--f-H4);
}
h5{
    font-size: var(--f-H5);
}
h6{
    font-size: var(--f-H6);
}
p{
    font-size: var(--f-p);
}

.bold {
    font-weight: bold;
}

/* breadcrumb */

body {
    font-family: "Roboto", sans-serif;
    color: var(--c-font);
}

/* layout */
.container {  
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
.d-flex {display: flex;}
.jcsb {justify-content: space-between;}
.aic {align-items: center;}
.hidden {
  position: fixed;
  left: 0; top: 99999em;
  width: 0; height: 0;
  overflow: hidden;
}
/*  ==================== HEADER : 임시원 ====================  */
header{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 80px, rgba(238,238,238,1) 80px);
    width: 100%;
    height: 75px;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden; 
    padding: 20px 0;
    box-sizing:border-box;
    z-index: 9999;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header_con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header_semicon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1120px;
    height: 53px;
}
.center_menu {
    display: flex;
    gap: 20px;
}
.right_menu {
    display: flex;
    align-items: center;
    gap: 10px;
}