@charset "utf-8";
@import url(/helloworld/user/css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --f-H2: 28px;
  --f-H1: 32px;
  --f-H3: 24px;
  --f-H4: 18px;
  --f-H5: 16px;
  --f-H6: 14px;
  --f-p: 16px;

  --c-background: #fff;
  --c-main: #f5f5f5;
  --c-sub: #11359a;
  --c-font: #364a63;
  --c-lightgray: #8094ae;
  --c-yellow: #f4bd0e;
  --c-lightblue: #09c2de;
  --c-lightgreen: #1ee0ac;
  --c-lightred: #e85347;
  --c-blue: #465fff;
  --c-button: #7749f8;
  --c-button-hover: #5227cc;
  --c-menu-font: #6e82a5;
  --c-menu-font-hover: #7f8dff;
  --c-menu-BG: #101924;
  --c-active-button: #798bff;
  --c-Nonactive-button: #6c757d;
  --c-nonactive-button-hover:#8A8686;
  --c-complete-button: #28a745;
  --c-complete-button-hover: #079828;
  --c-cancle-button: #dc3545;
  --c-active-check-button: #499eed;
  --c-Nonactive-check-button: #8a8686;
  --c-contentBG: #f5f6fa;
  --c-space_updown: 30px;
  --c-title-font: #1dc078;
  --c-menu-font: #4a4a4a;
  --c-footer-BG: #101924;
  --c-content-BG: #fff;
  --c-black: #000;
  --c-H2: #1b1c1d;
  --c-p: #495057;
  --c-lightgray: #999999;
  --c-primary-button: #00c471;
  --c-border-grey: #C2C4C7;
}

/* typography */
h1,
.h1 {
  font-size: var(--f-H1);
  font-weight: bold;
}
h2,
.h2 {
  font-size: var(--f-H2);
  font-weight: bold;
}
h3,
.h3 {
  font-size: var(--f-H3);
  font-weight: bold;
}
h4,
.h4 {
  font-size: var(--f-H4);
}
h5,
.h5 {
  font-size: var(--f-H5);
}
h6,
.h6 {
  font-size: var(--f-H6);
}
p,
.p {
  font-size: var(--f-p);
}
.bold {
  font-weight: bold;
}

/* breadcrumb */

body {
  font-family: "Roboto", sans-serif;
  color: var(--c-font);
  box-sizing: border-box;
}

/* layout */
.content-box {
  border: 1px solid #ced4da;
  border-radius: 4px;
  background: #fff;
  padding: 20px;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.hidden {
  position: fixed;
  left: 0;
  top: 99999em;
  width: 0;
  height: 0;
  overflow: hidden;
}
.jcsb {
  justify-content: space-between;
}

.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(29, 192, 120, 0.25);
  border-color: rgba(29, 192, 120, 0.25);
}
.form-check-input:checked {
  background-color: var(--c-title-font);
  border-color: var(--c-title-font);
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(29, 192, 120, 0.25);
}
.page-link {
  color: var(--c-title-font);
}
.active > .page-link,
.page-link.active {
  background-color: var(--c-title-font);
  border-color: var(--c-title-font);
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
.lightgray {
  color: var(--c-lightgray);
}
.table-container{
  min-height: 287px;
}
/*  */
/* .form-check-input{float:left;margin-left:-1.5em}.form-check-reverse{padding-right:1.5em;padding-left:0;text-align:right}.form-check-reverse .form-check-input{float:right;margin-right:-1.5em;margin-left:0}.form-check-input{--bs-form-check-bg:var(--bs-body-bg);flex-shrink:0;width:1em;height:1em;margin-top:.25em;vertical-align:top;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:var(--bs-form-check-bg);background-image:var(--bs-form-check-bg-image);background-repeat:no-repeat;background-position:center;background-size:contain;border:var(--bs-border-width) solid var(--bs-border-color);-webkit-print-color-adjust:exact;color-adjust:exact;print-color-adjust:exact}.form-check-input[type=checkbox]{border-radius:.25em}.form-check-input[type=radio]{border-radius:50%}.form-check-input:active{filter:brightness(90%)}.form-check-input:focus{border-color:#000;outline:0;box-shadow:0 0 0 .25rem rgba(0,0,0,.25)}.form-check-input:checked{background-color:#0d6efd;border-color:#0d6efd}.form-check-input:checked[type=checkbox]{--bs-form-check-bg-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")}.form-check-input:checked[type=radio]{--bs-form-check-bg-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e")}.form-check-input[type=checkbox]:indeterminate{background-color:#0d6efd;border-color:#0d6efd;--bs-form-check-bg-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e")}.form-check-input:disabled{pointer-events:none;filter:none;opacity:.5}.form-check-input:disabled~.form-check-label,.form-check-input[disabled]~.form-check-label{cursor:default;opacity:.5}.form-switch{padding-left:2.5em}.form-switch .form-check-input{--bs-form-switch-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");width:2em;margin-left:-2.5em;background-image:var(--bs-form-switch-bg);background-position:left center;border-radius:2em;transition:background-position .15s ease-in-out}@media (prefers-reduced-motion:reduce){.form-switch .form-check-input{transition:none}}.form-switch .form-check-input:focus{--bs-form-switch-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e")}.form-switch .form-check-input:checked{background-position:right center;--bs-form-switch-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")}.form-switch.form-check-reverse{padding-right:2.5em;padding-left:0}.form-switch.form-check-reverse .form-check-input{margin-right:-2.5em;margin-left:0}.form-check-inline{display:inline-block;margin-right:1rem}.btn-check{position:absolute;clip:rect(0,0,0,0);pointer-events:none}.btn-check:disabled+.btn,.btn-check[disabled]+.btn{pointer-events:none;filter:none;opacity:.65}[data-bs-theme=dark] .form-switch .form-check-input:not(:checked):not(:focus){--bs-form-switch-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.25%29'/%3e%3c/svg%3e")}.form-range{width:100%;height:1.5rem;padding:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:transparent}.form-range:focus{outline:0}.form-range:focus::-webkit-slider-thumb{box-shadow:0 0 0 1px #fff,0 0 0 .25rem rgba(13,110,253,.25)}.form-range:focus::-moz-range-thumb{box-shadow:0 0 0 1px #fff,0 0 0 .25rem rgba(13,110,253,.25)}.form-range::-moz-focus-outer{border:0}.form-range::-webkit-slider-thumb{width:1rem;height:1rem;margin-top:-.25rem;-webkit-appearance:none;appearance:none;background-color:#0d6efd;border:0;border-radius:1rem;-webkit-transition:background-color .15s ease-in-out,border-color .15s ease-in-out; */
/*  */
/*  ==================== HEADER : 임시원 ====================  */
header {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 80px,
    rgba(238, 238, 238, 1) 80px
  );
  width: 100%;
  height: 75px;
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 20px 0;
  box-sizing: border-box;
  z-index: 9999;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header_con {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#header_logo {
  text-indent: -9999em;
  opacity: 0;
  visibility: hidden;
}
.center_menu {
  gap: 40px;
}
.right_menu {
  gap: 30px;
}
.icons {
  gap: 30px;
}
.bi {
  font-size: 30px;
}
.bt {
  gap: 10px;
}
.login-btn {
  background-color: #c2c4c7;
  border: none;
}
.member {
  background-color: #1dc078;
  border: none;
}
.lgo {
  padding-right: 68px;
}
.logout {
}
.bi-person-circle{
  color: var(--c-title-font);
}
.h2_t {
  margin-top: 48px;
}
.tb {
  margin-top: 36px;
  margin-bottom: 33px;
}
.form-select {
  font-size: var(--c-p);
}
.sb {
  width: 213px;
  height: 40px;
}
.search_bar {
  gap: 20px;
}
.search {
  width: 434px;
  height: 40px;
  font-size: var(--c-p);
}
.btn_search {
  height: 40px;
}
table td,
table th {
  vertical-align: middle;
}
tr {
  width: 1153px;
  height: 50px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.pagination {
  padding-top: 50px;
}
.tw{
  width: 504px;
}
/* notice_detail.html */
.nt {
  padding-bottom: 36px;
}
.nb {
  width: 1153px;
  height: auto;
}
.tc {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.notice-detail-box {
  width: 910px;
  height: 290px;
  margin: 0 auto;
}
.notice-content {
  width: 400px;
  height: auto;
}
.notice-content p {
  padding-top: 20px;
}
#notice_img {
  width: 385px;
  height: 256px;
}
.btn_s {
  width: 1153px;
  padding-top: 43px;
  padding-bottom: 43px;
}
.r_btn {
  gap: 20px;
}

/* Q&A.html */
.qna_regist_btn {
  height: 40px;
}

/*  ==================== MAIN :  최원석 ====================  */

/*  ==================== FOOTER :  우준범 ====================  */
footer {
  background: #203247;
  color: var(--c-background);
  padding: 40px;
}
.container ul {
  margin-bottom: 50px;
}
.container h2 {
  margin-right: 60px;
}
.container h2 img {
  width: 100px;
}
.f_tt {
  gap: 24px;
}
.tel_mail {
  gap: 16px;
}
.f_tt span {
  font-weight: bold;
  color: var(--c-yellow);
  margin-right: 5px;
}

.f_list {
  gap: 10px;
}
.sns ul {
  gap: 10px;
}
