/* section1 */
.swiper {
  width: 100%;
  height: 400px;
}
.plusbox {
  width: 100%; 
  justify-content: space-between;
}
.moreplus { 
  
  position: relative;
}
.moreview::after { 
  content: "";
  display: block;
  height: 2px;
  background:var(--c-menu-BG);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 34px;
  width: 0%;
  transition: all 0.5s; }
.moreview:hover::after{
  width: 100%;
 }

.sec1_slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide {
  position: relative;
  width: 100%;
  height: 400px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.image3 { background: #fff; }
.image4 { background: #fdfdf5;}
.slidetext { 
  position: absolute; 
  top:100px;
  left: calc(50% - 550px);
}
.slidetext h2 { 
  margin-bottom: 15px;
}
.slidetext p{ 
 margin-bottom: 15px;
}
.imagebox { 
  position: absolute;
  height: 100%;
  width: 737px;
  position: absolute;
  left: calc(50% - 50px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.swiper-pagination-bullet {
 
}

.swiper-pagination-bullet-active {
  background: var();
  border: none;
}

/* section2 */

.search {
  width: 600px;
  height: 50px;
  border-radius: 55px;
  border: 3px solid var(--c-border-grey);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background: #fff;
  margin-top: 54px;
  margin-bottom: var(--c-space_updown);
}

.search.active {
  
}

.search input {
  flex: 1;
  border: none;
  outline: none;
}

.search i {
  font-size: 36px;
  color: var();
}

.sec2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category_box {
  width: 1220px;
  height: 130px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.category_box ul {
  display: flex;
  gap: 45px;
}

.category_box ul {
  display: flex;
  gap: 40px;
}

.category_box ul img {
  margin-bottom: 8px;
  transition: 0.3s;
}

.category_box li:hover img {
  transform: scale(1.05);
  opacity: 0.7;
}

.sec_tt {
  font-size: 36px;
  margin-bottom: var();
}


/* section3 */
.card h5 {
  color: var(--dark, #1e2226);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sec3 li {
  height: 280px;
}

.sec3 li .card img {
  height: 154px;
}

.sec3 .card h5 {
  font-size: 16px;
}

p {
  margin-bottom: 0;
}

.card_wrap li {
  position: relative;
}

.card {
  box-shadow: 2px 5px 14px 0px rgba(116, 120, 128, 0.15);
  border: none;
  border-radius: 12px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  z-index: 2;
  transition: 0.3s;
  opacity: 0;
}

.card_wrap li:hover .card:after,
.swiper-slide:hover .card:after {
  opacity: 100%;
}

.view_wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  z-index: 10;
  display: inline-block;
  transition: 0.3s;
  opacity: 0;
}

.card_wrap li:hover .view_wrap,
.swiper-slide:hover .view_wrap {
  opacity: 100%;
}

.view_btn {
  white-space: nowrap;
  border: 1.5px solid #fff;
  z-index: 10;
  padding: 0 30px;
  line-height: 45px;
  font-size: 20x;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.view_btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
}

.view_wrap a i {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}

.view_wrap span {
  display: flex;
  gap: 10px;
}

.view_wrap span a:hover svg {
  fill: rgba(255, 255, 255, 0.5);
}

.card:hover {
  box-shadow: 2px 5px 14px 0px rgba(116, 120, 128, 0.3);
  transform: translateY(-10px);
}

.card img {
  border-radius: 12px 12px 0 0;
}

.card-text {
  text-align: LEFT;
}

.card-text i,
.price {

}

.card-text i,
.duration {
  
}
.textbootn{ margin-bottom: 15px;}

.price {
  color: #ff8744;
  font-size: 24px;
  font-weight: 700;
}

.duration_wrap {
  color: #707070;
  font-size: 13px;
  margin-RIGHT: 85PX;;
  
}

.card_wrap ul {
  gap: 20px;
}

.card_wrap .card {
  width: 236px !important;
}
.play-pause { display: flex; justify-content: end; margin-top: 10px;}
.swiper-pause { margin-left: 5px;}

/* section4 */
.sec4 .recom_slide .card,
.sec5 .new_slide .card {
  width: 100%;
  height: 390px;
  position: relative;
  white-space: nowrap;
}
.cardimg { width: 375px;height:100%;
  
}
.sec4 .recom_slide .card img,
.sec5 .new_slide .card img {
  width: 100%;
  object-fit: cover;
}

˝ .sec4 .swiper .swiper-slide,
.sec5 .swiper .swiper-slide {
  width: 350px !important;
}

.badge_wrap {
  margin-bottom: calc(var(--c-space_updown) * 0.5);
}

.badge_wrap .badge:first-child {
  margin-right: 5px;
}

.page_wrap {
  position: relative;
}

.sec4 .swiper-wrapper,
.sec5 .swiper-wrapper {
  width: 1200px;
  height: 425px;
  padding-top: 10px;
}

.sec4 .swiper,
.sec5 .swiper {
  width: 1130px;
  height: 425px;
}

.swiper-button-prev,
.swiper-button-next {
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #707070;
  box-shadow: 2px 5px 14px 0px rgba(116, 120, 128, 0.15);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px;
}

.sec4 .swiper-button-prev,
.sec5 .swiper-button-prev {
  left: 5px;
}

.sec4 .swiper-button-next,
.sec5 .swiper-button-next {
  right: 5px;
}

.secc2,
.secc3,
.secc4,
.secc5 {
  margin-top: calc(var(--c-space_updown) * 3);
}
.courset {
  margin-bottom: calc(var(--c-space_updown) * 1);
}

.pulele_bg {
  background-color: var(--c-ribon-pulple);
}
.blue_bg {
  background-color: var(--c-ribon-blue  );
}
.green_bg {
  background-color: var(--c-ribon-geeen);
}
.orange_bg {
  background-color: var(--c-ribon-orange);
}