h1 {
  position: absolute;
  text-indent: -9999em;
  opacity: 0;
  visibility: hidden;
  top: -9999em;
}

.modal-header {
  border-bottom: none;
}
#login_logo {
  text-align: center;
}

#login_logo img {
  width: 210px;
}
#login_logo,
.form-floating,
.kakao,
.login {
  width: 360px;
  height: 58px;
}
.login {
  background: var(--c-title-font);
  font-weight: bold;
  border-color: var(--c-title-font);
}
main {
  gap: 16px;
}

form > div + div {
  margin-top: 16px;
}
.find {
  display: flex;
  gap: 16px;
}
.kakao {
  color: #240d0d;
  background: #fdd70c;
}
