h1 {
  position: absolute;
  text-indent: -9999em;
  opacity: 0;
  visibility: hidden;
  top:-9999em
}

.modal-header {
  border-bottom: none;
}
#logo {
  text-align: center;
}

#logo img {
  width: 210px;
}
#logo,
.form-floating,
.kakao,
.login {
  width: 360px;
  height: 58px;
}
.login {
  background: var(--c-title-font);
  font-weight: bold;
}
main {
  gap :16px;
}

form > div+div{
  margin-top: 16px;
}
.find {
  display: flex;
  gap: 16px;
}
.kakao {
  color: #240D0D;
  background: #FDD70C;
}