.notice-content{
    line-height: 55px;
}
table td,
table th {
  vertical-align: middle;
}
tr {
  width: 1153px;
  height: 55px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.pagination {
  padding-top: 50px;
}
.sb {
    width: 213px;
    height: 40px;
  }
  .search_bar {
    gap: 20px;
  }
  .search {
    width: 434px;
    height: 40px;
    font-size: var(--c-p);
  }
  .btn_search {
    height: 40px;
  }
  .announce_img{
    width: 300px;
    height: 250px;
  }