section {
  height: 100vh;
}
.sigin-container {
  padding: 20px 70px;
}
h1 {
  position: absolute;
  text-indent: -9999em;
  opacity: 0;
  visibility: hidden;
}

#logo {
  margin-bottom: 16px;
}

.signup_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#userid {
  width: 375px;
}
#useremail {
  width: 336px;
}

.all_agreel {
  font-weight: bold;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-10 {
  margin-bottom: 10px;
}


#signup_btn{
  background: var(--c-title-font);
  height: 58px;
  border-color: var(--c-title-font);
}
#signup_btn:hover{
  background: green;
}