/* margin */
.pd_1 {
  margin: 90px 0;
}
.pd_2 {
  margin-bottom: 45px;
}
.pd_3 {
  margin: 30px 0;
}
.pd_4 {
  margin-bottom: calc(var(--c-space_updown));
}
.pd_5 {
  margin-top: 130px;
}
.pd_6 {
  margin-bottom: 130px;
}

.activegreen {
  background-color: var(--c-title-font);
    border-color: var(--c-title-font);
}

/* review */
.review_num{
  padding-bottom: 35px;
}
.content-box{
  width: 1026px;
  height: auto;
  margin: 0 auto;
}
.star-rating {
  position: relative;
  display: inline-block;
}

.star-rating select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.star-icons {
  color: #ffc107;
  font-size: 24px;
}